{% extends 'base.html' %}

{% block title %} Funcionários {% endblock %}

{%block main%}


<br><br>
<div id="data" var_cargos="{{cargos}}" >

</div>
<table class="table table-hover table-sm" >
    <tr  >
        <th scope="col" style="width: 100px;" >Código</th>
        <th scope="col">Nome do funcionário</th>
        <th scope="col" style="text-align: center;" >Cargo</th>
        <th scope="col" style="text-align: center; width: 200px; " >Ativo</th>
        <th scope="col" colspan="2" style="text-align: center;" > Ações </th>
    </tr>
    

    {% if object_list %}
        {% for func in object_list %}
                <tr > 
                  <td >{{func.id}}</td> 
                  <td id="txtnomefunc" >{{func.nome}}</td> 
                  <td id="txtcargo" style="text-align: left;" >{{func.cargo.nome_cargo}}</td> 
                  {% if func.inativo %}
                    <td id="txtstatus" style="text-align: center;" >
                        <i class="material-icons" style="color: red;" >close</i>
                    </td>
                  {% else %}
                    <td id="txtstatus" style="text-align: center;" >
                        <i class="material-icons" style="color: green;" >check</i>
                    </td>
                  {% endif %}
                  <td><a href="{% url 'alterarFuncionario' func.id %}" class="btn btn-info btn-sml active teste-list" > Editar</a></td>
                  <td><a href="#" class="btn btn-warning btn-sml active teste-list"
                    data-toogle="modal" data-target="#exampleModal"
                    > Excluir</a></td>

</tr>
        {% endfor %}
    {%else%}
        <tr>
            <th scope="row" >
                <td>'Nenhum funcionário cadastrado!xxx'</td>
            </th>
        </tr>
    {% endif %}
</table>


<br><br>
<a href="{% url 'incluirFuncionario' %}"  class="btn btn-primary" >Incluir</a><br>
<a href="{% url 'index' %}" >Home</a>

    {% endblock %}

