{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Funcionários {% endblock %}
{% block main %}
    <h4>Dentro da tela de cadastro de funcionarios.</h4>

    <form method="POST" >
        {% csrf_token %}
       {{ form.nome|bootstrap }}
       {{form.cpf|bootstrap}}
<!--        {{form.cargo|bootstrap}}
       {{form.nascimento|bootstrap}}
       {{form.saldo|bootstrap}}
       {{form.inativo|bootstrap}}
       {{form.telefone|bootstrap}} -->
       

        <button type="submit" >Salvar</button><br>
        
    </form>
    <a href="{% url 'index' %}" >Home</a>
{% endblock %}